<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61237810434-sgv3jq9f4na0hkq7lglu195h0l7uqena.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61237810434-sgv3jq9f4na0hkq7lglu195h0l7uqena</string>
	<key>API_KEY</key>
	<string>AIzaSyDPbCGmp_iTJd8KpBQm3nMAa6EU5QzDGCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>61237810434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.mapsApp</string>
	<key>PROJECT_ID</key>
	<string>mapsapp-ecff4</string>
	<key>STORAGE_BUCKET</key>
	<string>mapsapp-ecff4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61237810434:ios:edf9a1b981954d89e01e1b</string>
</dict>
</plist>